@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img{
    max-width: 100%;
}

.pagination nav ul{
    justify-content: center;
}

.errShow,.successShow{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    color: #fff;
}

.errShow{
    background-color: tomato;
}

.successShow{
    background-color: rgb(49, 218, 49);
}

/* -------------------------------Welcome--------------------------------- */

@import url(./welcome/welcome.css);
/* -------------------------------Loading Page Child--------------------------------- */

@import url(./loading/loadingPageChild.css);
/* -------------------------------Container--------------------------------- */

@import url(./container/container.css);
/* -------------------------------Header--------------------------------- */

@import url(./header/header.css);
/* -------------------------------Body--------------------------------- */

@import url(./body/body.css);
/* -------------------------------Home--------------------------------- */

@import url(./components/home/home.css);
/* -------------------------------Technology--------------------------------- */

@import url(./components/technology/technology.css);
/* -------------------------------ShowRoom--------------------------------- */

@import url(./components/showRoom/showRoom.css);
/* -------------------------------About--------------------------------- */

@import url(./components/about/about.css);
/* -------------------------------Contact--------------------------------- */

@import url(./components/contact/contact.css);
/* -------------------------------Auth--------------------------------- */

@import url(./auth/auth.css);
/* -------------------------------message--------------------------------- */

@import url(./components/message/message.css);